@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url("font/ONEMobilePOP.ttf"); /**url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}

input, textarea, select {
    font-family: inherit;
}
body{
    font-family: "One-Mobile-POP", serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;

}
.content-card-view{
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
#nav-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);

}
#nav-btn-menu{
    border-radius: 100px;
    width: 30px;
   height: 30px;
    border: none;
}
.nav-wrapper{
    width: 50px;
}
#nav-container h1{
    flex: 1;
    text-align: center;
}
#main-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    flex: 1;
}
#side-container{
    height: 100%;
    margin-right: 8px;
}
#section-word-list{
}

